<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585015455552-r1l4qbc1mlmd0vfijg2jhuiigveb69n5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585015455552-r1l4qbc1mlmd0vfijg2jhuiigveb69n5</string>
	<key>API_KEY</key>
	<string>AIzaSyCKeGraITk7HJEVXyMWqJfc96GMAw-3fZA</string>
	<key>GCM_SENDER_ID</key>
	<string>585015455552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reviza.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reviza-31466</string>
	<key>STORAGE_BUCKET</key>
	<string>reviza-31466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585015455552:ios:2e6fe7575d5c2240f2d4a5</string>
</dict>
</plist>