<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
    <meta name="author" content="Kangwa E. Mukuka" />
    <meta name="keywords" content="Polygon, UNZA, Clinic" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b4c0cd408e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bts-5/css/dashboardStyleSheet.css') }}">
    <link rel="icon" href="../static/bts-5/image/reviza.png" type="image/png" />
    <title>Dashboard</title>
</head>

<body>
    <!-- ======== Main wrapper for dashboard =========== -->

    <div class="wrapper">
        <!-- =========== Sidebar for admin dashboard =========== -->

        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-bars pe-2"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="#"></a>
                </div>
            </div>

            <!-- ======== Content For Sidebar ========-->
            <div class="h-100">
                
                <!-- ======= Navigation links for sidebar ======== -->
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-house pe-2"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <!--

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-layer-group pe-2"></i>
                            <span>My Library</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-magnifying-glass pe-2"></i>
                            <span>Search</span>
                        </a>
                    </li>

                    -->
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-robot pe-2"></i>
                            <span>Reviza AI</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-bell pe-2"></i>
                            <span>Notifications</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-comments pe-2"></i>
                            <span>Chats</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#recent" aria-expanded="false" aria-controls="auth">
                            <i class="fa-solid fa-clock pe-2"></i>
                            <span>Recent</span>
                        </a>
                        <ul id="recent" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">No recent items yet.</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        <div class="sidebar-head-link">
                            <span>My Library</span>
                        </div>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#courses" aria-expanded="false" aria-controls="auth">
                            <i class="fa-solid fa-folder pe-2"></i>
                            <span>Study Material</span>
                        </a>
                        <ul id="courses" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Course 1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Course 2</a>
                            </li>
                            <li>
                                <div class="d-grid gap-2 col-10 mx-auto">
                                    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#courseModal">
                                        <i class="fa-solid fa-plus  pe-2"></i> Add Courses
                                    </button>
                                    <br>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!--
                    
                                        <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#books" aria-expanded="false" aria-controls="auth">
                            <i class="fa-solid fa-book pe-2"></i>
                            <span>Books</span>
                        </a>
                        <ul id="books" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Book 1</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Book 2</a>
                            </li>
                            <li>
                                <div class="d-grid gap-2 col-10 mx-auto">
                                    <button type="button" class="btn btn-outline-info">
                                        <i class="fa-solid fa-plus"></i> Add Books
                                    </button>
                                    <br>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    -->
                    
                    <!-- // Prospective Option for version 2

                        <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                        aria-expanded="false">
                            <i class="fa-solid fa-book-bookmark pe-2"></i>
                            Studylists
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="/patientList" class="sidebar-link">Patients</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="/wardList" class="sidebar-link">Wards</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Questions
                        </a>
                    </li>

                    -->

                    <li class="sidebar-header">
                        <div class="sidebar-head-link">
                            <span>Account Options</span>
                        </div>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#account" aria-expanded="false" aria-controls="auth">
                        <i class="fa-solid fa-user"></i>
                            <span> Account</span>
                        </a>
                        <ul id="account" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <button id="signOutButton" class="sidebar-link">Sign Out</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- ========= Main section of dashboard ======= -->

        <div class="main">

            <!-- ========= Main navbar section of dashboard ======= -->
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!--
                <button class="btn" id="toggle-btn" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>    
                -->
                <div class="sidebar-logo">
                    <img src="../static/bts-5/image/reviza.png" class="avatar img-fluid rounded me-3" alt="ReViza logo"/>
                    <a href="#">Reviza</a>
                </div>
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <!--

                            <li class="nav-item dropdown">
                            <a href="#" class="nav-icon pa-md-0">
                                <img src="../static/bts-5/image/bell.png" class="avatar img-fluid rounded me-3" alt="Notification Icon"/>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-icon pa-md-0">
                                <img src="../static/bts-5/image/chats.png" class="avatar img-fluid rounded me-3" alt="Chats Icon"/>
                            </a>
                        </li>

                        -->
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pa-md-0">
                                <img src="../static/bts-5/image/profile.png" class="avatar img-fluid rounded" alt="User Profile"/>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="#" class="dropdown-item">Profile</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                    <a href="#" class="dropdown-item">About</a>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            

            <!-- ========= Main content section of dashboard ======= -->

            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb3">
                        <h4>Dashboard</h4>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-fill border-0 illustration">
                                <div class="card-body p-0 d-flex flex-fill">
                                    <div class="row g-0 w-100">
                                        <div class="col-6">
                                            <div class="p-3 m-1">
                                                <h4>Welcome Back!</h4>
                                                <p class="mb-0">Explore more courses</p>
                                            </div>
                                        </div>
                                        <div class="col-6 align-self-end text-end">
                                            <button type="button" class="btn btn-outline-secondary btn-lg" data-bs-toggle="modal" data-bs-target="#courseModal">
                                                <i class="fa-solid fa-plus pe-2"></i> Add Courses
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="courseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add courses to your Library</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                ...
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex">
                            <div class="card flex-fill border-0">
                                <div class="card-body py-4">
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1">
                                            <h4 class="mb-2">
                                                Search content
                                            </h4>
                                            <p class="mb-2">
                                                3GB Limit
                                            </p>
                                            <div class="mb-0">
                                                <span class="badge text-success me-2">
                                                    PDF
                                                </span>
                                                <span class="text-muted">
                                                    Books, Tests, Quizzes, etc.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 align-self-end text-end">
                                    <a href="">
                                        <button type="button" class="btn btn-outline-secondary btn-lg">
                                            <i class="fa-solid fa-magnifying-glass pe-2"></i> Add Courses
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>

            <!-- ========= light and dark mode toggle button ======= -->

            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>


            <!-- ========= carousel secetion ======= -->

            <div id="carouselExampleControls" class="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card">
                        <div class="img-wrapper">
                            <img src="../static/bts-5/image/Captureee.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title 2</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                                <!--
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                                -->
                        </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            <!-- ========= footer section of dashboard ======= -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a href="#" class="text-muted">
                                    <strong>powered by Luso Software</strong>
                                </a> 
                            </p>
                        </div>
                        <!--
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://www.unza.zm/staff" class="text-muted">STAFF</a></li>
                                <li class="list-inline-item"><a href="https://journals.unza.zm/" class="text-muted">JOURNALS</a></li>
                                <li class="list-inline-item"><a href="https://www.unza.zm/res/publications" class="text-muted">RESEARCH</a></li>
                                <li class="list-inline-item"><a href="https://www.unza.zm/policies-and-procedures" class="text-muted">POLICIES</a></li>
                                <li class="list-inline-item"><a href="https://www.unza.zm/about/history" class="text-muted">ABOUT</a></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/bts-5/js/moonLight.js"></script>
    <script src="../static/bts-5/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="../static/bts-5/js/dashboardScript.js"></script>
</body>

</html>