<!-- file: patientList.html -->

{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Dashboard {% endblock %}


{% block body %} 

<div class="containter">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h1>Manage <b>Patients</b> 
                    <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-target="#mymodal">Add New Patients</button>
                </h1>

                <form method="POST">
                    <input type="text" autofocus="autofocus" name="patient_search_string" />
                    <input type="submit" formaction="{{ url_for('patientListSearch') }}" value="Search" />
                    <a href="/dashboard">
                        <button type="button" class="btn btn-secondary float-right"
                    data-toggle="modal">Go to Dashboard</button>
                    </a>
                    <a href="/wardList">
                        <button type="button" class="btn btn-primary mb-2 float-right"
                    data-toggle="modal">Manage Wards</button>
                    </a>
                    <a href="/patientView">
                        <button type="button" class="btn btn-info mb-2 float-right"
                    data-toggle="modal">View Patients</button>
                    </a>
                </form>
                

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    
                    {{ message }}

                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

                <h3> {{ legend }} </h3>
            {% if patients %}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                            <th>Name</th>
                            <th>Initials</th>
                            <th>Sex</th>
                            <th>Address</th>
                            <th>Post Code</th>
                            <th>Admission Date</th>
                            <th>Date of Birth</th>
                            <th>Ward ID</th>
                            <th>Next of Kin</th>
                            <th>Actions</th>
                    </tr>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                            <tr>
                                <td >{{ patient.patient_id }}</td>
                                <td>{{ patient.name }}</td>
                                <td>{{ patient.initials }}</td>
                                <td>{{ patient.sex }}</td>
                                <td>{{ patient.address }}</td>
                                <td>{{ patient.post_code }}</td>
                                <td>{{ patient.admission }}</td>
                                <td>{{ patient.DOB }}</td>
                                <td>{{ patient.ward_id }}</td>
                                <td>{{ patient.next_of_kin }}</td>
                                <td>
                                    <a href="/patientList/update/{{ patient.patient_id }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ patient.patient_id }}">Edit</a>
                                    <a href="/patientList/delete/{{ patient.patient_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                                </td>
                            </tr>
    
                            <!-- Beginning of ADD Modal -->
                            
                            <div id="mymodal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Add New Patient</h4>
                                          </div>
                                        <div class="modal-body">

                                            <form action="{{ url_for('patientInsert') }}" method="POST">
                                                {{ form.csrf_token }}
    
                                                <div class="form-group">
                                                    <label>Full Name:</label>
                                                    <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Full Name" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Initials:</label>
                                                    <input name="initials" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Initials" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Sex:</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="sex" id="male" value="M">
                                                        <label class="form-check-label" for="male">
                                                          Male
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="sex" id="female" value="F">
                                                        <label class="form-check-label" for="female">
                                                          Female
                                                        </label>
                                                      </div>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Address:</label>
                                                    <input name="address" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Address" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Post Code:</label>
                                                    <input name="post_code" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Post Code" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Admission Date:</label>
                                                    <input name="admission" type="datetime-local" class="form-control" id="exampleFormControlInput1" placeholder="Enter Admission Date" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Date of Birth:</label>
                                                    <input name="DOB" type="datetime-local" class="form-control" id="exampleFormControlInput1" placeholder="Enter Date of Birth" required />
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label for="ward">Ward:</label>
                                                    {{ form.ward.label(class="form-control-label") }}
                                                    {{ form.ward(class="form-control") }}
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Next of Kin:</label>
                                                    <input name="next_of_kin" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Next of Kin" />
                                                </div>
    
                                                <button type="submit" class="btn btn-primary mb-2">Save</button>
    
                                              </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End of ADD Modal -->

                            <!-- Beginning of EDIT Modal -->

                            <div id="modaledit{{ patient.patient_id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Update Information</h4>
                                          </div>
                                        <div class="modal-body">

                                            <form action="{{ url_for('patientUpdate') }}" method="POST">
                                                
                                                <input type="hidden" name="id" value="{{ patient.patient_id }}">

                                                <div class="form-group">
                                                    <label>Full Name:</label>
                                                    <input name="name" type="text" class="form-control" value="{{ patient.name }}" /></td>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Initials:</label>
                                                    <input name="initials" type="text" class="form-control" value="{{ patient.initials }}" />
                                                </div>

                                                <div class="form-group">
                                                    <label>Sex:</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="sex" id="male" value="M">
                                                        <label class="form-check-label" for="male">
                                                          Male
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="sex" id="female" value="F">
                                                        <label class="form-check-label" for="female">
                                                          Female
                                                        </label>
                                                      </div>
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Address:</label>
                                                    <input name="address" type="text" class="form-control" value="{{ patient.address }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Post Code:</label>
                                                    <input name="post_code" type="text" class="form-control" value="{{ patient.post_code }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Admission Date:</label>
                                                    <input name="admission" type="text" class="form-control" value="{{ patient.admission }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Date of Birth:</label>
                                                    <input name="DOB" type="text" class="form-control" value="{{ patient.DOB }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label for="ward">Ward:</label>
                                                    {{ form.ward.label(class="form-control-label") }}
                                                    {{ form.ward(class="form-control") }}
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Next of Kin:</label>
                                                    <input name="next_of_kin" type="text" class="form-control" value="{{ patient.next_of_kin }}" />
                                                </div>
    
                                                <button type="submit" class="btn btn-primary mb-2">Update</button>
    
                                              </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End of EDIT Modal -->
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}