<!-- file: signup.html -->

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
            <meta charset="UTF-8" />
            <meta name="author" content="Kangwa E. Mukuka" />
            <meta name="keywords" content="Polygon, UNZA, Clinic" />
            <link rel="stylesheet" href="../static/css/signupStyleSheet.css" />
            <link rel="icon" href="../static/logos/polygon_white_bg.png" type="image/png" />
            <title>Sign Up</title>
        </head>
        <body>

            <div id="authForm">
                <div class="logo-frame">
                    <a href="{{ url_for('Welcome') }}">
                        <img id="polygon-logo" src="../static/logos/polygon.png" alt="Polygon Logo (Eucleadian Spiral of a Pentagon)" />
                    </a>
                </div>
                <div class="window">
                    <div class="window2">
                        <fieldset>
                            <p id="create">Create your account</p>
                            <p id="show-tell">Tell us about yourself</p>
                            <form>
                                <label for="userEmail">
                                    <input id="userEmail" placeholder="Email address" type="email" required />
                                </label>
                                <label for="userPassword">
                                    <input id="userPassword" placeholder="Password" type="password" required />
                                </label>
                            </form>
                            <button id="signUpButton">Continue</button>
                            <div id="sign-up">
                                Already have an account? <a href="{{ url_for('Login') }}">Log in</a>
                            </div>
                            <div class="logical-or-seperator">
                                <hr class="line" />
                                <span>OR</span>
                                <hr class="line" />
                            </div>
                            <button id="signInButtonG"><img id="google-logo" src="../static/logos/google.png" alt="The Google (G) logo" /><span id="google-span"></span>Continue with Google</button>
                        </fieldset>
                    </div>
                </div>
            </div>

            <script type="module" src="../static/js/signupScript.js"></script>

        </body>
    </html>