<!-- file: patientView.html -->

{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Dashboard {% endblock %}


{% block body %} 

<div class="containter">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h1><b>Patient</b> Records 
                    <a href="/patientList">
                        <button type="button" class="btn btn-info mb-2 float-right"
                    data-toggle="modal">Manage Patients</button>
                    </a>
                </h1>

                <form method="POST">
                    <input type="text" autofocus="autofocus" name="patient_search_string" />
                    <input type="submit" formaction="{{ url_for('patientViewSearch') }}" value="Search" />
                    <a href="/dashboard">
                        <button type="button" class="btn btn-secondary float-right"
                    data-toggle="modal">Go to Dashboard</button>
                    </a>
                    <a href="/wardView">
                        <button type="button" class="btn btn-primary mb-2 float-right"
                    data-toggle="modal">View Wards</button>
                    </a>
                    <a href="{{ url_for('generate_patient_pdf', patient_id=patient.patient_id) }}">
                        <button type="button" class="btn btn-danger btn-xs float-right"
                    data-toggle="modal">Print Patient</button>
                    </a>
                </form>

                <h3> {{ legend }} </h3>
                <table class="table table-hover table-striped">
                </table>

                <div class="contaier">
                    <h3>Details</h3>
                    <br/>
                    <h4>{{ patient.name }}</h4>
                    <p><b>Patient ID:</b> {{ patient.patient_id }}</p>
                    <p><b>Initials:</b> {{ patient.initials }}</p>
                    <p><b>Sex:</b> {{ patient.sex }}</p>
                    <p><b>Address:</b> {{ patient.address }}</p>
                    <p><b>Post Code:</b> {{ patient.post_code }}</p>
                    <p><b>Admission Date:</b> {{ patient.admission }}</p>
                    <p><b>DOB:</b> {{ patient.DOB }}</p>
                    <p><b>Ward ID:</b> {{ patient.ward_id }}</p>
                    <p><b>Next of Kin:</b> {{ patient.next_of_kin }}</p>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}