<!-- file: wardList.html -->

{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Dashboard {% endblock %}


{% block body %} 

<div class="containter">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h1>Manage <b>Wards</b> 
                    <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-target="#mymodal">Add New Ward</button>
                </h1>
            
                <form method="POST">
                    <input type="text" autofocus="autofocus" name="ward_search_string" />
                    <input type="submit" formaction="{{ url_for('wardListSearch') }}" value="Search" />
                    <a href="/dashboard">
                        <button type="button" class="btn btn-secondary float-right"
                    data-toggle="modal">Go to Dashboard</button>
                    </a>
                    <a href="/patientList">
                        <button type="button" class="btn btn-primary mb-2 float-right"
                    data-toggle="modal">Manage Patients</button>
                    </a>
                    <a href="/wardView">
                        <button type="button" class="btn btn-info mb-2 float-right"
                    data-toggle="modal">View Wards</button>
                    </a>
                </form>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    
                    {{ message }}

                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

                <h3> {{ legend }} </h3>
            {% if wards %}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Ward ID</th>
                            <th>Ward Name</th>
                            <th>Number of Beds</th>
                            <th>Free Beds</th>
                            <th>Nurse in Charge</th>
                            <th>Ward Type</th>
                            <th>Actions</th>
                    </tr>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ward in wards %}
                            <tr>
                                <td>{{ ward.ward_id }}</td>
                                <td>{{ ward.ward_name }}</td>
                                <td>{{ ward.number_beds }}</td>
                                <td>{{ ward.free_beds }}</td>
                                <td>{{ ward.nurse_in_charge }}</td>
                                <td>{{ ward.ward_type }}</td>
                                <td>
                                    <a href="/wardList/update/{{ ward.ward_id }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ ward.ward_id }}">Edit</a>
                                    <a href="/wardList/delete/{{ ward.ward_id }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                                </td>
                            </tr>
    
                            <!-- Beginning of ADD Modal -->
                            
                            <div id="mymodal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Add New Ward</h4>
                                          </div>
                                        <div class="modal-body">

                                            <form action="{{ url_for('wardInsert') }}" method="POST">
    
                                                <div class="form-group">
                                                    <label>Ward Name:</label>
                                                    <input name="ward_name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Ward Name" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Number of Beds:</label>
                                                    <input name="number_beds" type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Number of Beds" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Nurse in Charge:</label>
                                                    <input name="nurse_in_charge" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Nurse in Charge" required />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Ward Type:</label>
                                                    <input name="ward_type" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Ward Type" />
                                                </div>
    
                                                <button type="submit" class="btn btn-primary mb-2">Save</button>
    
                                              </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End of ADD Modal -->

                            <!-- Beginning of EDIT Modal -->

                            <div id="modaledit{{ ward.ward_id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Update Information</h4>
                                          </div>
                                        <div class="modal-body">

                                            <form action="{{ url_for('wardUpdate') }}" method="POST">

                                                <input type="hidden" name="id" value="{{ ward.ward_id }}">
                                                
                                                <div>
                                                    <label>Ward Name:</label>
                                                    <input name="ward_name" type="text" class="form-control" value="{{ ward.ward_name }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Number of Beds:</label>
                                                    <input name="number_beds" type="number" class="form-control" value="{{ ward.number_beds }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Nurse in Charge:</label>
                                                    <input name="nurse_in_charge" type="text" class="form-control" value="{{ ward.nurse_in_charge }}" />
                                                </div>
    
                                                <div class="form-group">
                                                    <label>Ward Type:</label>
                                                    <input name="ward_type" type="text" class="form-control" value="{{ ward.ward_type }}" />
                                                </div>
    
                                                <button type="submit" class="btn btn-primary mb-2">Update</button>
    
                                              </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- End of EDIT Modal -->
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
